.text-input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}

.text-input textarea {
  resize: none;
  height: 150px;
  font-size: 1.05em;
  margin: 10px 0 40px 0;
}

.flex {
  display: flex;
}
